# Core scientific stack
numpy
pandas
scikit-learn
joblib
matplotlib
pyarrow

# Model libraries
xgboost
fairlearn
mlflow

# Google Cloud clients
google-cloud-bigquery
google-cloud-storage
google-cloud-bigquery-storage
db-dtypes
pandas-gbq

# Web app (dashboard)
flask
gunicorn
google-cloud-aiplatform
evidently==0.4.0
